<head xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="/css/signup.css">
</head>
<html>
<body>
<div class="signup-box">
  <h1>
    {{.event}}<br>
    {{.position}} signup
  </h1>

  <form action="/action_page.php" method="post">
    <h2>
      User Information
    </h2>

    <div class="field padding-bottom--24">
      {{range .questions}}
      <div class="field padding-bottom--24">
        <div class="input-box">
          <input type="{{.Type}}" name="{{.Label}}" required="{{.Required}}" placeholder="{{.Placeholder}}">
          <label>{{.Label}}</label>
        </div>
      </div>
      {{end}}

      <h2>
        Select Shifts
      </h2>

      <h3>
        All shifts are in Eastern
      </h3>

      {{range .shifts}}
      <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
        <label class="container" for="{{.ShiftID}}"> {{.Title}}: {{.Start.Format "Mon Jan 02, 2006 03 PM"}}
          <input type="checkbox" id="{{.ShiftID}}" onclick="myFunction('{{.ShiftID}}')">
          <span class="checkmark"></span>
        </label>
      </div>

      <div id="{{.ShiftID}}-response-div" style="display:none" class="field padding-bottom--24">
        <div class="input-box">
          <input type="text" name="{{.ShiftID}}-game-name" required="true"  placeholder="Rocket League">
          <label>What game do you want to play?</label>
        </div>
        <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
          <label class="container" for="{{.ShiftID}}-needs-players"> Do you need extra players?
            <input type="checkbox" id="{{.ShiftID}}-needs-players" onclick="myFunction('{{.ShiftID}}-needs-players')">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <div id="{{.ShiftID}}-needs-players-response-div" style="display:none" class="field padding-bottom--24">
        <div class="input-box">
          <input type="number" name="{{.ShiftID}}-max-players" required="true" placeholder="4">
          <label>How many players do you need?</label>
        </div>
      </div>
      <br>
      {{end}}
      <div class="field padding-bottom--24">
        <input type="submit" name="submit" value="Continue">
      </div>
    </div>
  </form>
</div>

<script>
    function myFunction(inputString) {
        var checkBox = document.getElementById(inputString);
        var text = document.getElementById(inputString+"-response-div");
        if (checkBox.checked == true){
            text.style.display = "block";
        } else {
            text.style.display = "none";
        }
    }
</script>
</body>
</html>